/*приступаем к стилизации следующей секции digits*/
.digits {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  /*отступили по брифу от предыдущей секции (description) и будущей (feynman)
  задали ширину блока в 100% от ширины родителя */
}
