.feynman__title {
  position: relative;
  margin: 100px auto 70px;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  color: #000000;
  z-index: 2;
  /*заголовок, параметрирую по брифу, позиционирую, чтобы была возможность использовать z-индекс*/
}
