/*с шапкой закончили - присутпаем к следующему "крупному" блоку - content*/
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  /*По заданию требуется пользоваться флексом для выравнивания, воспользовался шансом)
  за одно и расположил элементы по всей секции в колонку*/
}
