.two-columns__paragraph {
  margin: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #000000;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}
