.table {
  margin: auto;
  padding: 0;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 2;
  /*таблица, усердно используем преимущества флекса, распределяем элементы и переносим
  на следующую строчку*/
}

/*да, всё верно, я не давал таблице модификатора, ввиду того, что она свёрстана как
оболочка, распределяющая элементы. надеюсь моя логика верна */
