.header__subtitle {
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #000000;
  z-index: 2;
  /*определяем стили для параграфа в шапке, сбросили внешние отступы, позиционировали*/
}
