.kaufman__triangle {
  background-image: url(../../../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  background-size: contain;
  position: absolute;
  top: 0;
  right: -210px;
  /*тот самый треугольник, сместил, положил на фон, alt прописал*/
}
