.khan__buy-link {
  margin: 0 0 0 48px;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  opacity: 1;
  transition: opacity .3s ease;
}

.khan__buy-link:hover {
  opacity: 0.7;
}
